.box{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 637px;
    background-color: #F4F5F7;
    bottom: 1800px  
}

.labelMidBox{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 60px;
    width: 630px;
}

.midTitle{
    display: flex;
    font-family: Montserrat;
    font-size: 28px;
    color: #44465D;
}

.midDescription{
    display: flex;
    position: relative;
    font-family: Montserrat;
    font-size: 20px;
    color: #818192;
    bottom: 25px;
}

.allBox{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 350px;
    width: 100vw;
    margin-left: 50px;
}